[2014-09-26 18:21] rockbot opened #1 "Helper error doesn't bubble up to user"
When an error occurs in a handlebars partial, the error catcher totally drops it: https://github.com/hapijs/vision/blob/master/lib/index.js#L252.

Not sure what the fix here is though, since there's no callback... and I feel like a `throw` is a bit too harsh.

Ideas? Thoughts? Recommendations? :-)

[2014-09-29 15:29] arb opened #2 "Update Tests"
Update tests to be in line with new testing rules. https://github.com/hapijs/contrib/blob/master/Tests.md

[2014-10-08 21:57] #2 closed, assigned to hueniverse

[2014-10-08 22:19] hueniverse opened #3 "Allow appending default handler context"
From https://github.com/hapijs/hapi/pull/1953

[2014-10-08 22:20] #3 closed, assigned to hueniverse

[2014-10-22 18:26] arb opened #4 "Global View Context"
It would be nice if you could specify a global context value that would be merged into the passed in view context. Ideally it would take an object or a function in case you needed to do some logic while setting up your global context.

Currently, the only way to set up a global context is via an extension point and checking the response type for view.

---

[code]

The value of `server.views.conte

[2014-10-31 15:31] #4 closed, assigned to nobody

[2014-11-04 08:05] hueniverse opened #8 "Rename config basePath to relativeTo"
To be consistent with other hapi settings.

[2014-11-05 08:39] #8 closed, assigned to hueniverse

[2014-11-05 08:40] hueniverse opened #9 "Multiple paths for views"
Moved from https://github.com/hapijs/hapi/issues/1753

[2014-11-06 08:45] hueniverse opened #10 "Verify template and layout files exist in handler"
Otherwise, rendering fails after `onPreResponse` is called. Use response 'prepare' option.

Replaces https://github.com/hapijs/hapi/issues/1882

[2014-11-10 07:35] hueniverse opened #11 "context should always be cloned shallowly"
The context object can be anything and it is not safe to assume we can clone it.

[2014-11-10 07:55] hueniverse opened #12 "Schema allows setting global context per engine but not used"

[2014-11-10 08:01] hueniverse opened #13 "Context is cloned every render() even when there is no global context"

[2014-11-10 08:52] hueniverse opened #14 "Global context performs deep merge which can produce unexpected results"

[2014-11-10 08:55] #11 closed, assigned to hueniverse

[2014-11-10 08:55] #12 closed, assigned to hueniverse

[2014-11-10 08:55] #13 closed, assigned to hueniverse

[2014-11-10 08:55] #14 closed, assigned to hueniverse

[2014-11-13 07:02] Torsph opened #16 "404 gives error"
Hi!

It looks like vision gives a error on 404 pages and just hangs the server. I will look into it later, but for now I just thought you should know. Maybe it is some easy error? Or is it related to the updates you are making on the hapi 8.0 release?

[code]

[2014-11-13 16:42] #16 closed, assigned to nobody

[2014-11-30 01:02] #9 closed, assigned to hueniverse

[2014-12-10 04:20] 58bits opened #20 "Cannot Load Partials"
On Hapi 7.5.2, Vision 1.2.2, Handlebars 2.0.0 - I'm receiving the following error:

`internalError, message: The partial header could not be found: The partial header could not be found stack: Error: The partial header could not be found`

It was working, but what's changed, is that I've moved my configuration file up a level, which is set as follows:

[code]

Which is then loaded by a plugin as f

[2014-12-10 15:20] #20 closed, assigned to nobody

[2014-12-23 00:31] leore opened #21 "Working with Swag"
I previously used Swag(https://github.com/elving/swag) with hapi 7.5.3. I am having a hard time pin pointing the exact line of code that is causing a problem but the helper functions are no longer being registered.

I previously did:

[code]

and it worked. Now this seems to be broken with hapi 8. What is the proper way to load in helpers that are from another library

[2014-12-23 00:50] #21 closed, assigned to nobody

[2015-02-10 11:21] lloydbenson commented on #1
I ran into this as well.  Here is a real example.  In my case I had wrongly named the helper.  compareString vs stringCompare.  The error showed up as:

Debug: internal, implementation, error
    Error
    at Object.<anonymous> (somemodule/node_modules/handlebars/dist/cjs/handlebars/exception.js:26:23)
    at Module._compile (module.js:460:26)
    at Object.Module._extensions..js (module.js:478:10

[2015-02-20 00:15] hueniverse commented on #1
Does the handlebars error include that information? Not much we can do with a 3rd party error, unless we are messing it up.

[2015-07-07 12:21] jagoda commented on #10
@hueniverse you are assigned. Are you still looking at this? I may take a crack at it if you are not.

[2015-07-07 16:22] hueniverse commented on #10
Not anymore...

[2015-07-08 14:27] jagoda commented on #10
After looking into this, it seems to me that the full rendering process should be moved to the `prepare` step and the results stored on the source object (to be retrieved during the `marshal` step)? Otherwise other errors (like file permissions, malformed options, etc.) may not get reported until after the `onPreResponse` event as well. It seems reasonable to still set the `content-type` in the `m

[2015-07-08 21:18] hueniverse commented on #10
The view context can change all the way until `onPreResponse`.

[2015-07-08 21:44] jagoda commented on #10
Ah, I see. I'll see if I can come up with something better. Thanks for the tip!

[2015-07-09 00:15] jagoda commented on #10
@hueniverse what if just the template compilation is done in the `prepare` step while the `marshal` step uses the compiled output to render the context? . Admittedly this is a bit more complicated than checking template and layout existence and means reworking the implementation a bit. However, I think it will expose a few more errors early in the request lifecycle (like file readability) without

[2015-07-09 03:09] hueniverse commented on #10
I'm open to it. Give it a try. Will probably need another person to do a full code review for such a major refactor.

[2015-07-13 20:10] geuis opened #34 "Default context object doesn't populate views"
Related to this https://github.com/hapijs/hapi/issues/2537.

From my testing, internals.handler doesn't get called when reply.view is called from a handler. So the default context object is not passed through.

[2015-07-14 12:14] jagoda commented on #34
You are correct that `internals.handler` is not used with custom route handlers and @arb's comments about default attributes only apply to the [`view` handler](https://github.com/hapijs/vision#the-view-handler). However, the 'global' view context (without the additional default values) is still available to `reply.view()` via [this](https://github.com/hapijs/vision/blob/master/lib/manager.js#L271-

[2015-07-14 21:18] geuis commented on #34
Thanks for the confirmation. I ended up writing a plugin that allows you to configure properties to be added to all requests. I'll update this issue with it in a while.

[2015-07-17 15:19] toymachiner62 opened #35 "Vision 2.0.1 installing joi 5.1.0 instead of 6.x.x"
I have a couple of apps that when I deploy to a server, hapi 8.8.0 is installed which has vision 2.x.x as a dependency and installs vision 2.0.1. Vision 2.0.1 has joi 6.x.x as a dependency, but it installs joi 5.1.0.

How is this possible? I have 2 different apps on 2 different computers which deploy to 2 different servers which completely different setups.

[2015-07-17 15:22] Marsup commented on #35
Which version of npm are you using ?

[2015-07-17 15:41] toymachiner62 commented on #35
1.4.28

[2015-07-17 15:41] Marsup commented on #35
You'd better use 2.x and never go back :)

[2015-07-17 15:42] toymachiner62 commented on #35
What's the best way to install 2.x?

Also every time I update my node version am I going to have to re-install npm 2.x?

Is there a specific version of node that ships with npm 2.x?

[2015-07-17 16:05] toymachiner62 commented on #35
Ok I do have one environment that is working.

A weird thing I noticed is that on my environment that is working, it also has hapi 8.8.0 -> vision 2.0.1 but there is no node_modules folder in /vision

The way i build this app is I build locally including an `$ npm install` and then rsync my files to my server My rsync command didn't contain the `-r` option so it was leaving /vision/node_modules at

[2015-07-17 16:05] #35 closed

[2015-07-20 12:04] jagoda commented on #34
@geuis were you able to work out what you needed? Is there anything else you need from me?

[2015-07-20 18:34] geuis commented on #34
@jagoda I think that's it.

[2015-07-20 18:34] #34 closed

[2015-07-29 12:19] jagoda commented on #1
Is this still an issue for anybody? I tried to reproduce this using the latest version (vision 2.0.1 and handlebars 3.0.3) and things seem to be working as I would expect. I get good error messages for both missing/misnamed helpers as well as for exceptions thrown from within helpers.

[2015-08-01 14:06] #10 closed

[2015-08-07 12:59] jagoda commented on #1
I'm going to close this as it doesn't seem to still be an issue. Feel free to re-open if this comes up again.

[2015-08-07 12:59] #1 closed

[2015-08-07 19:58] hueniverse opened #38 "Document response variety view"
From the hapi doc:

- `variety` - a string indicating the type of `source` with available values:
    - `'view'` - a view generated with [`reply.view()`](#replyviewtemplate-context-options).

[2015-08-10 17:51] hueniverse opened #39 "Add request.render() support"
The `server.render()` method does not work when used inside a request handler via `request.server.render()` when the view manager was created by a plugin. This is breaks because the `request.server` does not have access to the plugin realm where the view manager is configured (only has access to a view manager setup directly on the server root outside of any plugin).

The `request.render()` method

[2015-08-11 20:19] farwey opened #41 "Nested Layouts"
Is it possible to have nested layouts? For example, there would be a "master" layout that contains site-wide HTML (e.g. - global header, etc.) and a section-specific layout that contains HTML shared within a certain section of the site.

An arbitrary example would be a "user settings" layout. The settings layout would contain common elements shared between each settings page, such as a menu for th

[2015-08-12 01:36] #39 closed

[2015-08-12 01:37] jagoda opened #42 "Document `request.render()`"
See #39 and #40 for details.

[2015-08-12 01:45] jagoda commented on #41
`vision` itself does not provide any functionality for nested layouts (just basic layouts). However, several of the templating engines that are supported by `vision` provide features that should allow you to do very similar things. For example, [handlebars](http://handlebarsjs.com/) provides [partials](http://handlebarsjs.com/partials.html) that allow you define reusable chunks of content and [nun

[2015-08-12 12:50] lloydbenson opened #43 "examples need to be updated"
The examples need vision loaded as a plugin since hapi no longer provides vision by default.

[2015-08-12 14:26] lloydbenson opened #44 "upgrade devDependency for hapi to 9.x.x"

[2015-08-12 14:26] lloydbenson opened #45 "upgrade vision to follow more hapi standard repo setup"

[2015-08-12 14:27] lloydbenson opened #46 "fix linting issues"

[2015-08-12 14:43] lloydbenson commented on #46
Had the 2.0.0 locally this is already fixed.

[2015-08-12 14:43] #46 closed

[2015-08-12 14:43] lloydbenson commented on #45
Had the 2.0.0 version locally this is already fixed.

[2015-08-12 14:43] #45 closed

[2015-08-12 19:12] #44 closed

[2015-08-15 21:29] jagoda commented on #41
@farwey does this info address your question adequately? Do you have any more issues or concerns?

[2015-08-15 22:18] #43 closed

[2015-08-16 02:39] #42 closed

[2015-08-16 02:50] #38 closed

[2015-08-18 06:10] coderjonny opened #50 "Hello just something basic for the new changes."
Adding in a little note about npm installing ```vision```

[2015-08-18 06:10] coderjonny commented on #50
PR: https://github.com/hapijs/vision/pull/49

[2015-08-18 11:52] jagoda commented on #50
Closed via #49.

[2015-08-18 11:52] #50 closed

[2015-08-24 17:08] #41 closed

[2015-08-24 21:12] jagoda opened #51 "Module documentation changes"
See hapijs/contrib#49.

[2015-08-29 14:57] 58bits opened #52 "Vision Registration Failing?"
Hi there - upgrading to hapi v9.0.0, and have added the vision dependency, as well as what I thought was the correct require statement during plugin registration, but the application is failing with:

[code]
Here's a Gist to the complete application setup...

https://gist.github.com/58bits/12e3a8380327062a762b

Is there anything obvious wrong here?

@hueniverse any ideas?

[2015-08-29 16:27] hueniverse commented on #52
It's a known bug. Because you have one plugin registering another, the `server` object the plugin gets doesn't get updated with the new methods. If you move vision to the glue file for now, it should work fine.

See https://github.com/hapijs/hapi/issues/2727

[2015-08-29 19:15] 58bits commented on #52
@hueniverse - okay - thanks!

[2015-08-29 19:49] jagoda commented on #52
Closing since the root issue is with hapi and not with vision.

[2015-08-29 19:49] #52 closed

[2015-08-29 20:17] #51 closed

[2015-09-08 06:51] johanalkstal opened #53 "Can I register different view engines for different connections?"
As described in this SO question I made,

http://stackoverflow.com/questions/32445904/can-i-have-different-view-engines-for-different-hapi-connections

Is it possible to create Hapi connections and have each one use Vision and register different view engines?

[2015-09-08 07:04] Marsup commented on #53
Register vision once at the server level and you can indeed have different view engines, it's even possible to have different view engines on the same connection (per plugin).

[2015-09-08 07:12] johanalkstal commented on #53
Oh, so you don't register vision with each connection, but with the server?

And then when setting up the connections you can call `server.views()` for each connection?

Each call to `server.views()` will register additional engine combinations?

Even if the engine is the same for the connections (for instance both connections would use handlebars)?

[2015-09-08 07:17] Marsup commented on #53
Yes, plugins adding decorations on the server usually don't support being registered multiple times.

You can register multiple engines in a single call or in multiple.
I think you can register the view engine on the server as well so it's global to all connections.

[2015-09-08 07:47] johanalkstal commented on #53
Would you mind showing a working example?

I'm trying with the following code,

[code]

When it gets to the second `.views()` call, I get an error

`Error: Cannot set views manager more than once`

[2015-09-08 07:51] Marsup commented on #53
Oh ok, maybe I was wrong on the multiple calls, I thought each connection had a different realm. Then plugin it is. FWIW it's bad to assume plugins can be registered synchronously like you did.

[2015-09-08 07:57] johanalkstal commented on #53
How would a plugin approach work differently?

You still register `vision` with the server, then you pass `server` to the `register` method of the plugins, right?

So would that not yield the same error as the above, because you're still trying to set the view manager more than once on the `server` object?

Sorry if I'm being ignorant, I'm new to the Hapi ecosystem.

[2015-09-08 08:01] Marsup commented on #53
A plugin has its own realm, vision takes advantage of that and can scope its view engine to only that plugin.

[2015-09-08 08:04] Marsup commented on #53
To add on that, only routes declared within the same plugin will be able to use that view engine of course.

[2015-09-08 09:59] edimoldovan opened #54 "Server decoration already defined: views"
I am having a bit of an issue using vision with handlebars and hapi 9.*. I might be missing something, so below is my entire app.js. My error is this:

`Server decoration already defined: views`

What am I doing wrong?

[code]

[2015-09-08 10:54] johanalkstal commented on #53
Okay, I got it working using plugins and a little bit of glue. :)

Thanks for your help!

[2015-09-08 11:02] #53 closed

[2015-09-08 11:10] Marsup commented on #54
You're registering vision twice, you should use something like glue or async to deal with async registrations, this code isn't really safe considering you could call start before all the plugins finished registering.

[2015-09-08 11:38] edimoldovan commented on #54
For some reason I thought Hapi takes care of the async issue. I will handle that manually. Thanks!

[2015-09-08 11:38] #54 closed

[2015-09-08 11:39] Marsup commented on #54
It is, but I'm not sure the failures occurring in previous registers are used in that final one.

[2015-09-08 11:49] devinivy commented on #54
hapi registers each plugin in a single `server.register` call in series.  That's about all hapi manages async-wise.

[2015-09-28 04:21] g6123 opened #59 "Global context with request argument"
When global context was first suggested in #4, functions that generate context could have a `request` argument. Like this :

[code]

But it is not actually implemented now, and I think that idea is quite essential in many cases of developments.

[2015-09-28 23:23] jagoda commented on #59
This was considered in the original implementation (see #6). However, it's not as simple as it may seem. As the discussion in #6 indicates, the `request` object is usually available in the handler that is preparing the context so this is usually not necessary. Could you elaborate on your specific scenario to help me understand why you need this?

[2015-09-28 23:41] phitran opened #60 "modifying the views object before compilation"
Prior to ```v3.0.0``` we could modify the views object during the preResponse event. Moving the compilation step earlier in the request lifecycle no longer allows this. Any ideas on getting this work in ```v3.0.0```?

Example:

template files:
[code]

views object:
[code]

onPreResponse:
[code]

[2015-09-29 04:17] hueniverse commented on #60
The template is being compiled but not the actual view. If this is not the case, it's a bug. You should be able to change the context all the way to onPreResponse.

[2015-09-29 05:22] phitran commented on #60
Thanks for the correction .You're right, the template that is being compiled earlier is causing my issue. I should of stated that I am receiving the bad implementation error: ```View file not found:... Locations searched: ./server/views/```

We are changing what template that is being compiled based on the userAgent. Do you have a recommendation on how to achieve this? Worse case we could stick wi

[2015-09-29 05:34] hueniverse commented on #60
That's a new use case, messing with the template. You should just return a whole new response. What I would do is pass along a simple context object and in onPreResponse return a view with the request.response object as context.

[2015-09-29 21:51] phitran commented on #60
Thanks for your help on this!

[2015-09-29 23:15] hueniverse commented on #60
Did it solve your problem?

[2015-09-30 12:11] g6123 commented on #59
I'd like to make specific session data globally accessible in every template I use. So, now I'm using solution below, and it works well anyway.

[code]
I still hope vision supports this by cleaner way, but I understood why it's quite complicated.. Thanks.

[2015-10-02 13:36] nelsonic opened #62 "Example code out of date. Can we PR an update?"
https://david-dm.org/hapijs/vision#info=devDependencies&view=table
[![devDependency Status](https://david-dm.org/hapijs/vision/dev-status.svg)](https://david-dm.org/hapijs/vision#info=devDependencies)

[2015-10-02 22:16] hueniverse opened #63 "Add new attributes: connections: false, once: true"
This will allow hapi >= 10.2 to know the plugin is available to connections added after it was registered. It is backwards compatible.

[2015-10-02 23:15] phitran commented on #60
Had to postpone the changes/updates. But I will post here again once we get back to it very soon.

[2015-10-03 16:11] jagoda commented on #62
Are you asking if you can submit an update or if somebody else can? I'd be happy to take a PR from anybody. Just be sure to check that all of the examples still work and to fix anything that breaks.

[2015-10-06 17:18] carbonrobot opened #64 "Partials not relative when overriding relativeTo in server.view options"
When overriding relativeTo in the view options, the layout's are relative but the partials are not.

    // server config
	server.views({
		engines: {
			html: require('handlebars')
		},
		relativeTo: 'src/server',
		layout: 'default',
		layoutPath: 'layouts',
		partialsPath: 'partials'
	});

    // handler
	var options = {
		relativeTo: 'view/base'
	};
	return reply.view('index', {}, options);

I

[2015-10-11 11:28] #62 closed

[2015-11-04 00:48] #63 closed

[2015-11-04 08:20] hueniverse commented on #63
Should add milestone and assignment.

[2015-11-04 12:39] jagoda commented on #63
Oops, thanks for the reminder.

[2015-11-05 15:49] molekilla opened #67 "Issue with underscore partials and vision"
Getting

[code]

with

[code]

it breaks when it tries to load the partial

similar code found here
https://github.com/molekilla/rutha/commit/05c7b86487f5d4e0f12b5f1ce6318338c1bb746d

any idea ?

thanks

[2015-11-05 17:04] jagoda commented on #67
The error message you mentioned typically happens when the `context` object provided has an attribute with the same name as the layout attribute. By default the layout attribute is called `content`. The layout attribute name can be configured with the [`layoutKeyword`](https://github.com/hapijs/vision/blob/master/API.md#serverviewsoptions) option. Does this help?

[2015-11-05 17:13] molekilla commented on #67
probly ... will try

[2015-11-06 12:53] molekilla commented on #67
fixed, closing.

[2015-11-06 13:22] jagoda commented on #67
Glad this helped. Out of curiosity, are you using layouts at all?

[2015-11-06 13:56] molekilla commented on #67
No, pls guide me, refactoring a huge app right now, it will be helpful.
Thanks

On Fri, Nov 6, 2015, 8:22 AM Jeffrey Jagoda <notifications@github.com>
wrote:

[2015-11-06 14:06] jagoda commented on #67
There's some info on how to use layouts in the [hapi tutorials](http://hapijs.com/tutorials/views#layouts). There are also some code examples for layouts with handlebars in the [examples directory](https://github.com/hapijs/vision/blob/master/examples/handlebars/layout.js). I think the ideas should translate to your situation pretty well.

Since you aren't using layouts, I think I'd like to re-ope

[2015-11-09 16:23] #67 closed

[2015-12-09 21:58] StevenWeathers opened #68 "Register Helpers programmatically"
Would be lovely if we could register helpers programmatically.

E.g. server.views.registerHelper('someHelper', function(){});

This would allow for simpler helper module sharing, rather than having to create a helper file for each helper in a bundle.

Perhaps this exists I just couldn't find a simple solution by reverse engineering.

[2015-12-28 17:40] geekgirl911 opened #69 "dust.js - vision always wants to load a view from a folder"
I have an application where some of my views are in plugins in a different and undetermined folders. I have a build process in gulp which compiles and combines all view into a single file. This file is loaded when the hapi server starts:
[code]
I have the following view setup for vision:

[code]
Originally I had to specify the path but it should work without it as I already loaded all possible dus

[2015-12-28 18:19] geekgirl911 commented on #69
Resolved the issue bypassing the whole server.views registration and vision plugin altogether:
[code]

[2015-12-28 18:19] #69 closed

[2016-01-03 05:12] vizo opened #70 "Jade problems / hanging"
When i visit localhost:3000 template shows up but then if i change template and hit refresh, template shows up without changes, but process hangs for some time (depends how many times i hit refresh). Using same version of jade in express works.

Even if i copy sample from vision/examples/jade/index.js it is same ....

Did i miss something?

I have the following setup:
[code]
Vision version: 4.0.1

[2016-01-03 05:31] vizo commented on #70
Oh i see, i missed out option server.views({..., isCached: false, ... }).
I am new to Hapi. I was figuring this out 4h.

[2016-01-05 22:19] lloydbenson opened #71 "lint errors with vision"
lib/index.js:
		Line 103: hapi/hapi-for-you - Only one variable can be initialized per loop.
/lib/manager.js:
		Line 421: hapi/hapi-for-you - Only one variable can be initialized per loop.
		Line 453: hapi/hapi-for-you - Only one variable can be initialized per loop.

[2016-01-07 00:49] #71 closed

[2016-01-07 08:39] mtharrison opened #73 "Send helper parsing error to user"
If you include a helper in the helpers directory and it cannot be loaded (i.e. `require()` throws), [the error is lost](https://github.com/hapijs/vision/blob/master/lib/manager.js#L260). It would be useful to see some kind of error here, perhaps you just made a simple syntax error that needs fixing.

[2016-01-07 13:45] jagoda commented on #73
Allowing the error to propagate could break some existing users. For example, some users may have files in the helpers directory that aren't actually helpers (ex. documentation). What do you think about adding a configuration option that would allow you to opt in to this behavior?

[2016-01-11 13:46] mugli commented on #73
I also faced this. I don't think silently discarding errors is a good idea. We had a hard time figuring out what was wrong, initially we even thought it might be related to ES6 support in node, since `const` and `var` worked but `let` doesn't, and fails silently (mentioned in nodejs/node#4618).

[2016-01-11 15:50] mtharrison commented on #73
Making it configurable is definitely better than nothing but I'm not sure how useful it would be. If you can find the option, knowing you need it, you'd probably just find your bug too.

How about a warning instead of an exception?

[2016-01-11 16:08] jagoda commented on #73
Ah, yup, makes sense. I think that should be doable.

[2016-02-06 12:54] kuongnp commented on #53
Hi all bro, you can show code example using core hapi todo set views engines for backend and fronend connection,  if can't , how using glue to do it. Thanks all

[2016-02-10 03:43] cyberwombat opened #75 "Nunjucks example not passing watch configuration"
Trying to setup Nunjucks - set `watch` to true in the prepare options as outlined in your example but it will not watch/recompile. Has this example been tested?

[2016-02-11 04:52] cyberwombat commented on #75
Ok. So watch is only called when `env.render` is called - not `nunjucks.render`. Also `env.render` seems to want to the filename directly so the working code is:
[code]
However its a bit unclean with env variable. Is there a way to pass the env created in `prepare` to `compile`? and since nujucks must read the files then its not necessary for vision to read it and pass the `src` - how can this be

[2016-02-13 00:49] jagoda commented on #75
The example does work as specified. In fact, there is an executable version in the `examples` directory that you can run for yourself. However, you will note that the example has `watch` set to `false`. This is intentional because `vision` caches compiled templates by default (making `watch` somewhat pointless). If you reexamine the example I think you will find that an `Environment` instance is a

[2016-02-17 21:08] ugate opened #76 "template error results in no boom"
When `compiled.template` throws an Error it's handled via Hapi's `fail` function within `transmit.js` which causes a new `Response` to be generated. By the time that this new response is propagated to `onPreResponse` listeners there is no indication that an error has occurred via `request.response.isBoom`.

Hapi v13.0.0
Vision v4.0.1

[2016-02-18 15:32] kuongnp opened #77 "same name partials in different folder being override"
Hi all bro,
my code is:
[code]

and in layout of backend & layout of frontend : i insert partial footer
[code]

but backend render footer is being override by footer of frontend. (html code display)

struct folder is:
[code]

.How extractly partials path to fix issue.

[2016-02-20 23:25] jagoda commented on #70
I have not been able to reproduce this in my environment. However, you seem to reference using the cluster module in your comments. Is it possible that the process hanging is actually related to your use of the cluster module and not to vision/jade?

[2016-02-20 23:27] jagoda commented on #75
Does this address your questions?

[2016-02-21 00:30] jagoda commented on #77
I don't believe that this is an issue with vision. Rather, this is an issue with how handlebars works. By default, handlebars uses a single shared template environment. This means that partials loaded by one hapi plugin can clobber partials with the same name loaded by a different plugin. I believe that you should be able to avoid this issue by doing something like the following:
[code]
Please see

[2016-02-21 00:37] jagoda commented on #76
Can you please provides some more details around your specific scenario? Steps to reproduce would be ideal. At first glance this looks like a bad template engine implementation rather than an issue with vision.

[2016-02-21 03:43] cyberwombat commented on #75
Yes thank you.

[2016-02-21 03:43] #75 closed

[2016-02-28 00:31] jagoda commented on #77
Does this address your issue?

[2016-03-13 18:59] abeninskibede opened #78 "Q: Are template files cached?"
Hey guys,

I have a plugin which uses handlebars as view engine.
[code]
When I make changes to the login.html file I need to restart the server in order to force hapi to pick my changes.

I have globally registered Vision for my server and this is my route:
[code]
Is there a way to disable this while developing?

[2016-03-13 21:55] mtharrison commented on #78
See `isCached` option: https://github.com/hapijs/vision/blob/master/API.md#serverviewsoptions

[2016-03-14 10:19] abeninskibede commented on #78
Cool 10x!

[2016-03-14 10:19] #78 closed

[2016-03-15 00:55] #77 closed

[2016-03-31 00:59] phitran commented on #60
it's been a while.. "very soon" :expressionless:, ha.

We finally got around to implementing your suggestion and I am happy to report it solved our problem. We are now using the latest vision!

Thanks again!

[2016-03-31 00:59] #60 closed

[2016-04-02 13:23] #68 closed

[2016-04-04 11:55] jagoda commented on #76
@ugate without more information it's hard to be sure what your issue is. Could you provide more details like which template engine you are using and what scenario causes the template to throw an error (and does it actually throw or callback with an error)? The best info would be steps to reproduce. Without this extra information I'm inclined to assume that this is just a bad template engine implem

[2016-04-04 11:55] jagoda commented on #70
Any thoughts?

[2016-04-04 20:05] #59 closed

[2016-04-04 20:23] #73 closed

[2016-04-04 23:16] ugate commented on #76
@jagoda I'll try to put something together and post here

[2016-04-06 03:24] kuongnp commented on #77
Thanks alot jagoda. My problems is done.

[2016-04-12 09:47] zzbo opened #83 "ejs template engine options is not working"
Hello, I pass a property `compileOptions` as following, but the ejs template always cache compile result, it's worng way?

[code]

[2016-04-12 09:52] Marsup commented on #83
You forgot that vision itself caches the compiled version, see `isCached` in the api docs.

[2016-04-12 10:03] zzbo commented on #83
@Marsup  thank you for your help, it is solved.

[2016-04-12 10:05] #83 closed

[2016-04-25 19:32] jagoda commented on #76
Any luck?

[2016-04-25 19:33] #70 closed

[2016-04-25 19:58] jagoda commented on #64
Was your hope to have the same partial name resolve to different source for different views? How would this work with handlebars?

[2016-05-02 13:03] jagoda commented on #64
I'm following you there. What I'm failing to understand is why you need to override the partials path in the view handler options. The only case I can think of needing to do this, beyond the convenience of typing less, is if you have two different partials that need to be used to back `{{>partials/unicorns}}` based on some condition. In either case, this seems like it is incompatible with handleba

[2016-05-03 13:16] jagoda commented on #64
Then why can't you just change your directory structure or use a different `relativeTo` value in the call to `server.views()`? Why do you need to use view option overrides?

I'm all for consistency if we can make it work. So far this doesn't seem possible/reasonable. To that end, the docs do currently call out that [partial paths cannot be overridden](https://github.com/hapijs/vision/blob/master/A

[2016-05-03 13:25] #64 closed

[2016-05-04 13:19] jagoda commented on #64
Oh, I'm not upset (I apologize if I gave that impression). I also think I understand the concern. However, I don't understand how we can address this issue without causing more problems than we would solve. I do appreciate the detailed conversation though 😄 .

[2016-05-04 13:20] #76 closed

[2016-05-18 16:28] ryanwalters opened #85 "TypeError: Cannot read property '_render' of undefined"
[code]

While trying to use `hapi-swagger@5.1.0` I receive this error when hitting the `/documentation` endpoint:

[code]

Diving in a bit, I see that `manager._render` is failing. The `manager` object looks like this:

[code]

I'm new to vision, so I'm not sure what is causing this issue but figured I'd post here in case it is a bug.

Let me know if you need any further information.

[2016-05-18 17:35] ryanwalters commented on #85
This was caused by modification to the response in the `onPreResponse` extension point, not with vision.

[2016-05-18 17:35] #85 closed

[2016-05-19 20:08] gergoerdosi opened #87 "Deprecated packages"
[code]

[2016-05-19 20:25] mtharrison commented on #87
Unfortunately there are no stable releases of Pug yet on npm afaik.

[2016-06-06 20:59] failpunk opened #90 "Include global handlebars layout for use in plugin"
I have an app using handlebars as the template engine and I want to register a series of plugins (user registration / auth) that render within the root apps handlebars layout.  The plugin will only serve the user form.

Trying to serve a layout from the parent app throws this error:
`[error] message: View paths cannot lookup templates outside root path (path includes one or more '../') stack: Erro

[2016-06-06 21:30] failpunk commented on #90
To follow up if I set `allowInsecureAccess: true` in my plugin I can then access the parent apps layout.

[2016-06-07 19:19] monkeytroy opened #91 "Need to know or control the order or priority of helper blocks."
Using hapi, vision and handlebars I want to created helpers to do jade style code blocks. In a partial or page I want to define a block of code to be placed in the head of the layout.. not in the {{{content}}} section of the layout.

Example template:

[code]

and in pages and partials I have this

[code]

My helper for #extendTo stores the style text and returns empty string. The helper for myBlo

[2016-06-09 08:26] donatasbacius opened #92 "Vision loading all files in the helper's directory"
This causes warnings to be logged to stdout. Could we change this to load only specific files?

Atm, if we have js.map files or tests or something else in that same folder, it will spit out warnings every app start.

[2016-06-18 21:34] jgallen23 opened #93 "manually registering a helper"
is there any way to get access to the view manager so I can register a helper?

[2016-06-18 22:07] devinivy commented on #93
Yes, there are two ways.  The most straightforward way is to use the manager returned from `server.views()`, like [this](https://github.com/hapijs/vision/blob/5747651957134458252750f1bef5a5a12c600276/test/index.js#L813-L833).  The lesser-doc'd way is to access that same manager on the realm of the plugin that called `views()` (e.g. `server.realm.plugins.vision.manager`).  I can't speak to whether

[2016-06-28 18:53] jagoda commented on #93
The preferred way to do this is to use the return value of `server.views()`. While the realm approach will work, my understanding of realms is that they are primarily used for plugin-specific state. I don't consider this to be part of the public API and it should not be relied upon.

[2016-06-28 19:04] jagoda commented on #92
These warnings are the result of the discussion in #73. My concern with only loading specific files is that there is no good way to know the full set of file name patterns that are currently being used across all consumers. For example, you'll note that in #24 a user mentions using `.es6` rather than `.js` for the helper extension. While I think that logging warning messages should probably contin

[2016-06-28 19:07] jagoda commented on #90
👍

[2016-06-28 19:07] #90 closed

[2016-06-28 19:21] jagoda commented on #91
Vision is really just a wrapper around the underlying template engines. As a result, it has very little control over how rendering is performed. The only ordering that vision currently enforces is that it [renders content templates before rendering layouts](https://github.com/hapijs/vision/blob/master/lib/manager.js#L465-513). How are you sharing the state between the helper invocations?

[2016-07-01 23:27] lostthetrail opened #94 "Creating a view manager in a plugin and creating routes after"
I am having some troubles encapsulating the view manager in a plugin and creating routes after it has been registered.

I am encapsulating it because we have a number of applications which use a convention as to where they host their helpers/partials and thus we would like it to be easily shared code.

index.js
[code]

myhandler.js
[code]

hapi-our-handlebars.js
[code]

When I attempt to access th

[2016-07-02 03:10] devinivy commented on #94
When you use `server.views()` it sets the view manager only within the current plugin.  So there is no way to create a plugin that registers a view manager for another plugin.  However, there is one exception to that– you can set a default views manager for the entire server by using the "root server", which escapes the plugin context (in hapi this is sometimes referred to as a "realm").  To do th

[2016-07-05 15:48] lostthetrail commented on #94
For now, I have stopped trying to push this logic into a re-usable partial. It will remain as tech. debt for the time being. I really appreciate the help you have given @devinivy.

[2016-07-05 15:48] #94 closed

[2016-07-05 19:41] devinivy commented on #94
No problem!  That helpers issue I'm not so sure about.  It could be a vision bug– not sure.  Feel free to open another issue if you can't make sense of it.

[2016-07-07 21:44] ADumaine opened #95 "Can we get the latest commits pushed to NPM?"
I have 4.1.0 but am looking for the Hoek.isAbsolutePath(path) replacement.

Thanks!

[2016-07-07 21:51] lloydbenson commented on #95
Try Hoek.isAbsolute(path)

[2016-07-07 22:43] ADumaine commented on #95
I just reverted to 4.0.1 for now.  I'll try again once the next version is available.

[2016-07-07 22:51] lostthetrail commented on #1
@jagoda I know this is a bit old but I am seeing something similar with helpers on handlebars 3.0.3 and Vision 4.1.0.

I ended up referring to a undefined object in my helper and it causes an exception that isn't handled as a Boom.

[2016-07-07 23:30] lostthetrail commented on #1
It does bubble up to me, but shows up as a normal error, rather than something to be caught by my `onPreResponse` error handler. Might not be related to the original intention.

[2016-07-07 23:35] lostthetrail commented on #1
Sure enough, transmit.js#send runs after `onPreResponse`.

Bummer, so there isn't a way to catch that sort of error and manage response.

Sorry for the repurpose. This is a different issue. I will file a new one if I think I need to.

[2016-07-08 00:03] lostthetrail opened #96 "Handling errors in view rendering"
What is the recommended way of handling helper errors if you want to print out a "We're sorry for the problem" style page?

At the moment, the Boom error gets created after the last extension point available `onPreResponse`.

If you need an example, create a simple handlebars setup then have a helper which refers to an undefined object.

You will get an error in your logs, but the error doesn't ex

[2016-07-08 00:09] lostthetrail commented on #96
The above is relevant I am sure, but it would be nice be able to have some fall back options.

Try rendering the users request, if 500, try the error page, if 500, return static html.

[2016-07-08 17:25] lostthetrail commented on #96
This problem only happens when you utilize `reply.view(...)`.

If you switch to `request.render(...)`, you will have access to the error in the `onPreResponse` extension point.

[2016-07-08 17:25] #96 closed

[2016-07-12 07:00] willin opened #97 "Cannoot use multi viewengines"
[code]

[code]

[2016-07-14 12:32] jagoda commented on #95
Can you help me understand why this is needed? The use of hoek is entirely internal to vision, so I wouldn't expect this to have any external impact.

[2016-07-14 12:33] #93 closed

[2016-07-14 12:39] jagoda commented on #97
Can you provide some more details about your scenario? With only the information here I have no way to reproduce your issue. However, when I run the [jade + handlebars example code](https://github.com/hapijs/vision/blob/master/examples/mixed/index.js) in the repository everything seems to work fine.

[2016-07-14 18:01] ADumaine commented on #95
There may be two things separate parts here.

Item #1:
My project  throws an error on manager.js line 519 after vision was updated to 4.1.0 and Hoek to 4.0.1.

[code]
I think this a dependency  or update sequence issue.  It happens if vision is updated to latest before Hoek 3.x is updated to 4.x which no longer longer has isAbsolutePath.  Reinstalling vision (4.0.1) causes Hoek 3.0.4 to be install

[2016-07-15 00:44] jagoda commented on #95
How are you doing this update? It is true that the latest release depends on hoek 3.x (which means that if your app uses hoek 4.x vision will use it's own copy of hoek 3.x), but my understanding is that npm should normally handle this sort of thing automatically. This is in fact the whole idea behind specifying the dependency based on the major version number as changes to it represent a breaking

[2016-07-15 00:59] willin commented on #97
https://github.com/glennjones/hapi-swagger/blob/master/lib/index.js#L155

this plugin uses handlebar
but i usually use jade.

[2016-07-15 01:07] ADumaine commented on #95
The updates were being done manually on the command line one at a time.  The application refreshes each time a change is made.

hoek 3.x was the current module.
vision@latest was installed.  Since hoek was already available it used the peer.
hoek@latest was installed updating hoek to 4.x.  vision no longer had 3.x as a peer and npm did not add hoek 3.x under it.  vision had to later be installed a

[2016-07-15 12:22] jagoda commented on #97
This is still pretty limited information. Is the link to the exact code that you are using? Is there any chance that you have multiple plugins using vision (and therefore have multiple view managers with different configurations)?

[2016-07-15 12:48] jagoda commented on #95
I was able to reproduce this on node 4.4.5 and npm 2.15.5. This seems like a bug in npm and not an issue with vision. When I use node 6.1.0 and npm 3.8.6 the problem is automatically corrected.

Understandable. Just for reference, you can always find a snapshot of the code for each release by switching the view from the master branch to the release tag. The code for 4.1.0 is [here](https://github.

[2016-07-15 12:48] #95 closed

[2016-07-16 02:21] willin commented on #97
yes, i just add jade engine to it.

[code]

[2016-07-18 17:20] lostthetrail opened #98 "Creating a plugin which has it's own vision view handling"
Hello, I am creating a re-usable error handler for a series of applications. It's job is to pick up any Boom exceptions, and log them and render a user-friendly page.

The individual applications can have different view engines and I want to provide each of these applications this solution "for free".

When I try to call request.render from it seems to be using the applications vision configuratio

[2016-07-18 17:49] lostthetrail commented on #98
I am likely misunderstanding something about Realm in HAPI, but @hueniverse's description in #39 seems to suggest this should work.

[2016-07-18 17:51] lostthetrail commented on #98
With a little debugging, when I get into the error-plugin's 'onPreResponse' extension point, I am back at root realm, rather than the expected error-plugin realm.

[2016-07-18 17:54] lostthetrail commented on #98
@devinivy I noticed you were working on a [realms document](https://github.com/devinivy/hapijs.com/blob/realms-tutorial/lib/tutorials/realms.md#how-do-i-access-the-realm). Can you provide any clarity here?

[2016-07-18 19:21] devinivy commented on #98
Sure!

When you call `request.render()` it will use the realm of the current route (the realm in which the route was defined using `server.route()`) regardless of the plugin in which your server extension was added.  Because the view manager is defined _inside_ your error-handling plugin (where `server.view()` is called), the realm of that view manager is not the same as the realm in which the rou

[2016-07-18 20:53] lostthetrail commented on #98
@devinivy As usual, thank you so much for the information. That really clears up a bunch of questions I had. This is what I ended up doing and I am glad to hear that it is the best practice.

Also, if anyone comes along afterward and views this issue. You should likely use `require('handlebars').create()` to provide your plugin with a new namespace, as to not expose your plugin to helper/partial/t

[2016-07-18 20:53] #98 closed

[2016-08-29 22:12] nelsonic opened #99 "Process for adding to /examples ?"
Hi @jagoda,
We would like to add a Riot.js http://riotjs.com/ example to Vision.
(_firstly, would a Pull Request with such an example be accepted?_)
Would the JSX (react) Pull Request: https://github.com/hapijs/vision/pull/36 be a good example to follow?
_Thanks!_

[2016-09-06 20:33] jagoda commented on #99
Yes, that is a fine example to follow and a PR would be most welcome.

[2016-09-07 11:32] nelsonic commented on #99
@jagoda thanks for confirming! I'm working on it... Want to show a _simple_ as well as an "isomorphic" example... 😉

[2016-09-22 18:08] lostthetrail commented on #92
Here is what comes to my mind.

**Option 1**
Add an `ignoreHelperRegistrationWarnings` flag.

[code]

**Option 2**
Add `helperFilePattern` which could use something like glob for pattern support.

[code]

**Option 3**
Add `helperExtension` which could be pretty dumb and catch many use-cases.

[code]

[2016-09-26 10:08] turtleDev opened #100 "dynamic global context?"
Hi,

I'd like to have a dynamic global context for rendering some page elements. This context applies to a lot of different views, hence I'd rather not pass it around manually. `vision` supports a static global context, but no dynamic context, that could change during the execution of the program.

I did hack around a little using request hooks, but that is barely a solution. Would you be open to

[2016-10-17 13:29] felipekm commented on #39
Hey @hueuniverse you mentioned

How can I use it in the extensio method?
Could you show me some sample? Thanks.

[2016-10-22 00:45] FullStackForger opened #102 "Dependencies update required"
could we just use Hoek 4.1.0 instead of 3.0.4

[code]

[2016-10-22 00:52] fullstackforger commented on #102
I have just checked package.json and it looks ok.
[code]
However package.json in local file system after npm install vision is
[code]

Did we miss `npm publish` for 4.1.0 ? If yes can we update it please.

[2016-10-25 23:21] hueniverse commented on #39
@felipekm sorry. I don't have the time to write an example. You are better off asking this question in hapijs/discuss.

[2016-10-28 15:05] lenovouser opened #103 "How to get the request object into a helper"
I am using vision with handlebars and want to get the request object into the helper. But at the moment there doesn't seem to be a way to do that, or am I wrong?

[2016-11-05 16:47] jgallen23 opened #104 "Question: Is there a way to modify output html before sending?"
We are transitioning from http to https and I want to have a fail-safe in place where we replace cdn http urls with https in our views before getting sent out.  Is there a way to get access to the output html?  I tried onPreResponse, but I couldn't find anyway to access the html in the `request.response` object

[2016-11-29 01:14] hueniverse opened #105 "Update deps"

[2016-11-29 01:36] #105 closed

[2016-12-01 16:13] novemberborn opened #106 "Support handler to rescue render errors?"
Per #96, views are rendered lazily, when the response is transmitted. At that point it's too late to intercept any render errors and replace them with a nice error page. The workaround seems to be to call `request.render()` manually and then call `reply()` with the rendered result.

This seems to negate a fair amount of the value that Vision provides. For one views may be rendered prematurely. Pro

[2016-12-12 20:58] calmdev commented on #100
How is using a server extension point to provide additional context to your views barely a solution? A code example demonstrating your pain point(s) would be helpful to better understand.

When you're setting up the view manager you can access the request object to dynamically inject additional context into your views. For example, if you use an `onRequest` extension point to add your _global  pag

[2016-12-12 21:06] calmdev commented on #91
@monkeytroy try exploring template engines that natively support layouts and template inheritance. [DustJS](http://www.dustjs.com/) is a good one. What you're trying to do seems like a workaround for handlebars not natively supporting layouts. The `{content}` context injection thing is is really just a hack around the fact that engines like handlebars don't support template inheritance.

[2016-12-12 21:31] calmdev commented on #103
I'm not sure about handlebars, but I feel like I've came across other hapi users asking the same question. I do know it doesn't natively support async helpers though. If you're open to using [DustJS](http://www.dustjs.com/) it's possible to access the request object rather easily.

Example, `scope` helper to see if a currently authenticated user has access to something:
[code]

Then within your vi

[2016-12-13 10:31] turtleDev commented on #100
ahh perfect. talk about hiding in plain sight. This is exactly what I needed. Thank you!

[2016-12-13 10:44] #100 closed

[2017-02-10 09:01] marcuspoehls commented on #91
There's a `handlebars-extend-block` module that adds jade-like layout blocks to handlebars. I've written a detailed tutorial on how to integrate the functionality into your hapi project:

https://futurestud.io/tutorials/how-to-create-jade-like-layout-blocks-in-handlebars-with-hapi

---

So what you basically want is this:

[code]

And by extending the default `handlebars` module, you've access to

[2017-02-10 09:42] marcuspoehls commented on #104
Hi @jgallen23, maybe the following idea is an option: render the template first, replace your links within HTML from `http` to `https` and than reply the updated HTML in reply. For a single route, the code code look like this:

[code]

Hope you make progess on your issue.

Did you already solve it in another way?

[2017-02-20 22:40] adamesque opened #110 "Vision never reloads/recompiles partials"
If we use the setting `isCached: false`, Vision will read & recompile top-level templates each time `render` is called. This is great!

But, helpers and partials are only ever read & registered on startup, so (for instance) given a handlebars template that makes heavy use of partials to break apart the view, changes to those partials will only appear after a full server restart.

Seems like it'd b

[2017-02-21 04:07] sholladay commented on #102
This issue can be closed. All of the dependencies are up to date here, both  in the `master` branch and the latest published to `npm`.

Any out of date dependencies are merely happening on your local machine. Probably you just need to `rm -rf node_modules && npm install` and if that doesn't work then your `npm` is buggy. In the latter case, run `npm install -g npm` and try again.

[2017-02-21 04:20] sholladay commented on #106
Wouldn't a better fix be to delay `onPreResponse` until after the template has been rendered? That seems more logical and consistent to me. Not sure if this is an issue in core or in `vision`.

[2017-02-21 10:38] AdriVanHoudt commented on #102
@fullstackforger can you run `-rf node_modules && npm install` and verify that this is still an issue?
With older npm versions it might help to run `npm update --depth=1000` to really update all deps (I do favor just using the newest version of npm though)

[2017-02-27 14:30] jwdotjs commented on #106
The below solution is pretty hacky since I didn't feel comfortable modifying Vision or Hapi, but I got this working by providing a compiler that uses the templating engine's compiler and catches any compilation errors, then renders a template that displays the compilation error in browser.

[code]

[2017-03-22 23:30] jgallen23 opened #112 "access to server inside helper?"
When using helperPaths, is there any way to access the server object inside the helper?  I need some settings that are set on `server.settings.app` inside the helper

[2017-03-23 12:45] jerome724 opened #113 "nginx reverse proxy - view is not a function"
When i use nginx as an proxy for my web app i get the error that ``res.view`` is not a function.

[code]

Do i need to change my vision settings?
[code]

[2017-03-23 13:10] jerome724 commented on #113
nvm.. i don't know why but my hapi app selected still port 80 after several restarts. So i had the app and nginx running on port 80.

[2017-03-23 13:16] #113 closed

[2017-03-23 19:19] jgallen23 opened #114 "addHelper called before prepare"
It looks like addHelper is getting called before prepare.  So in the case of nunjucks, we can't create the environment to add the filter to.

I workaround I did was adding the name and helper to an array and then on prepare, that's where I call `env.addFilter`

Here's the workaround: https://github.com/firstandthird/vision-nunjucks/blob/updates-tests/index.js#L37

[2017-04-05 14:43] rubennorte opened #115 "`request.render` does not pass the request to the context function"
I that rendering a template with `request.render` is supposed to be equivalent to doing so with `reply.view` but the prior doesn't send `request` to the `context` function configured in `server.views`.

[code]

Using `reply.view` works fine but with `request.render` `request` in undefined.

Edit: I needed this to use `request.render` as a workaround for #106

[2017-04-05 14:46] rubennorte commented on #115
I just saw a test that specified that was the expected behaviour:

[code]

Is there any reason for that?

[2017-04-28 07:10] cuihp commented on #87
how to update?

[2017-04-28 08:23] AdriVanHoudt commented on #87
@cuihp is there a stable release of Pug on npm now?

[2017-05-07 01:53] sholladay opened #118 "Warning for irrelevant files"
Vision is giving me this warning upon initial server startup:

[code]

Here is the config:

[code]

So, I see that Vision [ignores hidden files](https://github.com/hapijs/vision/blob/10760955c69b54450adcaaa219ac2f945c38ee3d/lib/manager.js#L250), which is great. In my case, I have a `README.md` in the helpers directory to provide some documentation. It would be great if Vision could ignore this too

[2017-05-09 13:54] TabishRizvi opened #120 "Is there a programmatic way to clear template cache?"

[2017-05-18 06:44] btmorex commented on #110
This confused me too. I thought isCached wasn't working at all. I think partials should be reloaded regardless of the cost; disabling caching is for development so the performance impact doesn't really matter.

[2017-05-30 01:45] sholladay commented on #112
I think you could technically do this.

**In the handler:**
[code]

**In the view:**

[code]

I would personally try to avoid giving such a powerful object to a helper. Seems risky, particularly if the helper comes from or includes 3rd party code.

[2017-07-03 23:11] karthik-arris opened #121 "Pug example does not work - Internal server error"
I was trying pug in examples directory and I got the following error

index.js - https://gist.github.com/karthik-arris/c57ae8090e761c21779dae9076a99c55
index.pub - https://gist.github.com/karthik-arris/028a7d9b35d6b8e87f0d4d15e22f2a46

[2017-07-03 23:20] karthik-arris commented on #121
It looks like the `extends layout` in index.pug has some issue. Without extending the layout, it works

[2017-08-04 02:16] sholladay opened #122 "Get the template directory"
## Use case

I made an [error transformation](https://github.com/hapijs/hapi/blob/master/API.md#error-transformation) plugin, [hapi-error-page](https://github.com/sholladay/hapi-error-page).

Currently, my plugin calls `h.view('error', context)` when it wants to render the view. This works great in that the user's Vision options will be respected. They must create a view like `error.html` (for exa

[2017-08-30 17:42] #121 closed

[2017-09-20 05:04] hueniverse opened #123 "New maintainer"
@nlf this module is no longer actively maintained. Need to find someone new to take over.

[2017-09-22 23:40] steevhise opened #125 "path supposedly can be an array but can it really?"
I'm trying to have template files in multiple places.  But setting server.views path option to an array, such as
`path: ['./src/views', './build/views']`\
Which the docs seem to say is allowed (and indeed in the code the Joi schema seems like it IS allowing it).
But, when all is said and done it seems to only be looking in the directory that is the  first item in the array.  Can anyone confirm thi

[2017-09-23 14:21] Marsup commented on #125
https://github.com/hapijs/vision/blob/master/lib/manager.js#L438-L456

Doesn't look like what you described at all, it stops on the 1st found file.

[2017-09-25 07:31] steevhise commented on #125
Confirmed. Sorry. The problem is actually that I assumed the path setting would be passed on to the template engine for use in looking for included partials, but apparently at least the engine I'm using (swig) doesn't work that way.

[2017-09-25 07:31] #125 closed

[2017-09-26 17:48] Niputi opened #126 "Marko example not working"
I downloaded the repository, added `host: "localhost"` in the server.connection and edited `const Vision = require('../..');` to `const Vision = require('vision');` since `../..` could not be found

I ran the marko example with the command `node examples/marko/index`

I get the below error message when I visit the localhost url

    TypeError: "string" must be a string, Buffer, or ArrayBuffer

[2017-10-08 22:46] #104 closed

[2017-10-26 03:35] btmorex opened #127 "helpersPath docs are incorrect"
Docs say: "Each '.js' file in the helpers directory is loaded and the file name is used as the helper name." However, vision attempts to load all files in the directory including for example .js.map files, which ends up printing a bunch of warnings on every start.

[2017-11-03 19:47] hueniverse opened #128 "Update deps"

[2017-11-03 19:48] #128 closed

[2017-11-03 22:07] wswoodruff commented on #123
I'm interested! Shall I tackle a couple issues as a smoke test??

[2017-11-03 22:15] nlf commented on #123
please do!

[2017-11-03 22:16] nlf commented on #123
reviews of existing pull requests would also be great

[2017-11-04 00:05] wswoodruff commented on #87
No idea what's going on with these releases: https://github.com/pugjs/pug/releases -- it looks like [v1.11.0](https://github.com/pugjs/pug/releases/tag/1.11.0) is the latest stable release -- does anyone have experience with this version? @gergoerdosi?

[2017-11-04 00:17] wswoodruff commented on #91
@monkeytroy Did you figure this out? Does @marcuspoehls's solution look like it'll work for you?

[2017-11-04 01:36] wswoodruff commented on #92
@donatasbacius @lostthetrail This should be fixed by #119

[2017-11-04 01:44] wswoodruff commented on #123
@nlf A decent amount of the issues can be closed, I can go through some more of them soon but I went through the PR's =)

[2017-11-04 01:54] hueniverse commented on #123
@wswoodruff you should have access rights once to accept the org invite. Feel free to change ownership info. When you are ready to publish, I can give you npm access rights.

[2017-11-04 01:54] #123 closed

[2017-11-04 02:05] wswoodruff commented on #97
Closing due to inactivity

[2017-11-04 02:05] #97 closed

[2017-11-04 02:05] #99 closed

[2017-11-04 02:06] wswoodruff commented on #102
Deps are up to date

[2017-11-04 02:06] #102 closed

[2017-11-04 02:14] wswoodruff commented on #112
@jgallen23 pass in the exact properties you're looking to use from the `server` object to your template, `server.settings.app.x.x` -- try to be as specific as possible, using the method @sholladay described above

[2017-11-04 02:14] #112 closed

[2017-11-04 02:20] #127 closed

[2017-11-04 03:09] wswoodruff commented on #126
@Niputi What version of `Marko` are you using? If 4.x this should be solved by #111

[2017-11-04 03:12] wswoodruff commented on #103
@lenovouser Please see #112 and pass information from the request to your templates that way.

[2017-11-04 03:12] #103 closed

[2017-11-04 12:45] #118 closed

[2017-11-04 12:45] #92 closed

[2017-11-04 12:49] wswoodruff commented on #110
I can get to work on this soon

[2017-11-04 14:45] wswoodruff commented on #87
Looks like `pug` is close to v2, I might wait for that release to bring it in. In the meantime I can get a start on the latest release and fix issues once v2 is stable

[2017-11-04 14:46] wswoodruff commented on #120
@TabishRizvi What's your use-case for this??

[2017-11-06 08:50] Niputi commented on #126
@wswoodruff I can't remember since it's a long time ago but I can say that I just tried to download version 3.0.0, 4.0.0, 5.0.0, 5.1.0 and the master, run different examples by doing `npm i` and `node examples/marko/index`, I also tried `node examples/handlebars/index`.  All of them said `server.connection is not a function`
With the 5.1.0 version, I tried to change hapi version to v16 on Cannot r

[2017-11-06 09:22] tanepiper opened #129 "Update for Hapi 17?"
Will Vision be updated for Hapi 17 (hapijs/hapi#3658)?

[2017-11-06 10:54] marcuspoehls commented on #129
It is already, vision `5.1.0` is available via NPM and compatible with hapi v17

[2017-11-06 11:43] tanepiper commented on #129
@marcuspoehls The docs don't seem to reflect this though. The API still shows the reply method which is removed.

Are you adding this to the `h` object now? Do we just return the view value?

[2017-11-06 13:03] marcuspoehls commented on #129
@tanepiper ah, I see. Sorry for being too direct and kind of to the point, not asking what you’re missing.

The actual setup of `vision` is the same, you’re still configuring `server.views`
To render a view from your route handlers, use `h.view(template, data, options)`.

Does this help you?

[2017-11-06 13:12] wswoodruff commented on #129
@tanepiper I plan on updating the docs and tests sometime this week

[2017-11-06 14:34] tanepiper commented on #129
@marcuspoehls Great, thanks :)

[2017-11-06 14:34] #129 closed

[2017-11-06 14:39] marcuspoehls commented on #129
@tanepiper Sure! You're welcome :)

[2017-11-06 17:52] futurechan commented on #123
Doesn't lout depend on vision? If so, how will it be impacted by this?

[2017-11-06 17:54] wswoodruff commented on #123
Should be fine -- I have an open line of communication with @Marsup in the `hapi hour` Slack! =P

[2017-11-06 17:59] futurechan commented on #123
Awesome. Thanks.

[2017-11-06 18:01] wswoodruff commented on #126
@Niputi It's possible there's another hapi module you're using that isn't compatible with `hapi v17` -- making that call to `server.connection`. -- That's a telltale sign that something you're using hasn't been upgraded, there aren't any calls to server.connection here so time to search it out 🔎 =P

[2017-11-06 18:02] wswoodruff commented on #126
@Niputi Update: I read your response incorrectly, It's on ME to update the tests and examples. Expect that to be coming up this week!

[2017-11-06 18:04] wswoodruff opened #130 "Update docs, tests, and examples to hapi v17"

[2017-11-07 23:29] wswoodruff commented on #87
Pug is already implemented: https://github.com/hapijs/vision/blob/72480f8eb8dd65571b7ba25ef0eb4d914a058644/test/manager.js#L462-L478

[2017-11-07 23:29] #87 closed

[2017-11-07 23:30] wswoodruff commented on #91
Closing due to inactivity

[2017-11-07 23:30] #91 closed

[2017-11-10 05:10] wswoodruff opened #131 "Change `Manager` to a class?"
Right now vision's Manager is a regular function and we're writing methods to the prototype. Is it good practice to turn it into a class or does it not really matter?

Cons
- It would add a level of indentation to each method.
- The only thing keeping it from 'just cause' is 'best practice' -- is it best practice?

Thoughts?

[2017-11-10 05:15] wswoodruff commented on #131
It seems like there've been a few manager api requests, would that go better in a class structure?

[2017-11-10 05:54] wswoodruff commented on #131
I should probably also convert index / manager to full async / await as well

[2017-11-10 08:49] wswoodruff commented on #126
@Niputi I just updated the marko example and the README, you should be able to get it working by running `node examples/marko` -- all of the examples have been updated to hapi v17 now 👍

[2017-11-10 21:08] Niputi commented on #126
@wswoodruff thanks for the update. When I did `npm i` there were two warnings which said `hapi-react-views require a peer`, should those warnings be there? The marko example is now working. I tried to run all the other examples and they all worked, so that's nice.
on another topic shouldn't the new readme say that this package version is for hapi v17+?

[2017-11-11 01:13] wswoodruff commented on #126
@Niputi Glad to hear you confirm the examples work for you! I just submitted [this issue](https://github.com/jedireza/hapi-react-views/issues/71) on `hapi-react-views` to upgrade to react v16, which I use in the jsx example. Vision itself would not require react because it's only used in the example.

[2017-11-11 02:00] wswoodruff commented on #126
I added a note about hapi v17 in the docs -- thanks for working this out with me!

[2017-11-11 02:00] #126 closed

[2017-11-11 02:00] #130 closed

[2017-11-11 16:49] wswoodruff commented on #110
@adamesque
I've got a tiny PR for this in #132 -- you can test it out on the `examples/handlebars/partials` if you pull down the `recompile-partials` branch

- I added helpers loading as well because those are normally light-weight, and like you guys said, this is only intended for development.

[2017-11-11 21:03] wswoodruff commented on #126
@Niputi the `hapi-react-views` maintainer updated it to React 16 https://github.com/jedireza/hapi-react-views/blob/master/package.json#L34-L35

You shouldn't receive those warnings anymore

[2017-11-12 21:59] wswoodruff opened #133 "Update API to hapi v17"

[2017-11-15 01:10] bakarydiarra opened #134 "Vision 5.x.x does not work with hapi 16.x.x"
Hi,

I had the following issue today
[link](https://github.com/glennjones/hapi-swagger/issues/477)
I found that it was related to the version of vision that I was using.
When installing vision using the `npm install` command, the default version is 5.1.0 which is not compatible with the HAPI version 16.6.2. I am not a node expert but I expected npm to take care of the dependencies versioning issue

[2017-11-15 02:00] wswoodruff commented on #134
hapi modules are upgrading to new major versions supporting hapi v17's breaking changes
For hapi v16 please use vision `4.x.x`

If there are any specific requests to support new features with hapi v16, please create an issue -- also, I'd accept a PR of course =)

[2017-11-15 02:09] wswoodruff commented on #131
Closing

[2017-11-15 02:09] #131 closed

[2017-11-15 02:16] wswoodruff commented on #134
I updated the README, added a note under `Usage`

[2017-11-15 03:35] bakarydiarra commented on #134
@wswoodruff Thank you for the quick answer.

[2017-11-15 03:35] #134 closed

[2017-11-16 14:22] #133 closed

[2017-11-17 00:40] #110 closed

[2017-11-18 02:20] bricss commented on #120
Check this page https://hapijs.com/tutorials/views for `isCached` option
[code]

[2017-11-18 02:25] wswoodruff commented on #120
Oh, is your problem solved by #132? I just merged that and pushed it to vision `v5.2.0`

[2017-11-18 17:38] wswoodruff commented on #120
@bricss ^^ As of 5.2.0 if `isCached` is false, Vision will reload templates and helpers when it's served (on every page refresh) =) Please let me know if you were experiencing a different issue

[2017-11-19 20:54] wswoodruff commented on #122
Been thinking about this, and the use-case. Would this problem be solved by allowing for appending to a list of `defaultPath`s? If you could pass the `defaultPath` option to the views manager and it would append it to any existing ones in an array, would that solve the problem?

[2017-11-19 20:57] wswoodruff commented on #122
I'm also _considering_ the pro's and cons of making a public getter to grab ahold of the `manager`. If you could grab the manager and see the path set, (assuming the manager has path as a public prop) then you could provide your default that way.

2 different approaches, thoughts?

[2017-11-19 20:59] wswoodruff commented on #120
@bricss Note, using Vision `5.x.x` requires you upgrading your API to hapi `v17`

[2017-11-19 21:09] wswoodruff commented on #122
In addition, the `defaultPath` option would allow for catching handlers and partials! If that functionality was available, plugins could be made that provided helpers and partials to the user

[2017-11-19 21:12] wswoodruff commented on #115
This is a great question, honestly I don't know why `request.render` doesn't pass the `request` to the global context. @hueniverse?

[2017-11-19 21:35] wswoodruff commented on #114
@jgallen23 Would you be interested in submitting a PR for this? Even with the example, I'm not sure I know enough about `Nunjucks` to know what the fix would look like here.

[2017-11-19 21:39] sholladay commented on #122
It sounds like those might work. Although I'm a bit unclear on the difference between `path` and `defaultPath`. I would expect, from the name, for `defaultPath` to only take effect if `path` is not set, I think. But you're saying I could ensure a directory within my plugin is _always_ appended to `path`, right? If so, then that should work. Note that I don't want to assume the user has `error.html

[2017-11-19 21:44] wswoodruff commented on #122
In the latter case , I was suggesting a less `verbose` getter for the manager, in _addition_ to the manager providing a getter for the path

[2017-11-19 21:47] wswoodruff commented on #122
I still haven't figured out what that would look like yet. Currently, the only way to grab the manager is the return value of `server.views({ ... });` (views manager options). I'm not sure where to add a getter yet that would cover all places where you'd be rendering. `server.render`, `request.render`, `h.view`

[2017-11-19 23:50] sholladay commented on #122
I think it would be unwise for me to call `server.views({ ... })` from my plugin. It will have to be something appropriate for an `onPreResponse` handler. At the moment I'm using `reply.view()`.

[2017-11-20 03:50] hueniverse commented on #115
Been far too long for me to recall.

[2017-11-20 04:33] devinivy commented on #115
Followed the blame and found this: https://github.com/hapijs/vision/pull/81.  I can't see any particular reason, but @jagoda definitely is clear in the docs and tests about the behavior.  It might just be for consistency between `server.render()` and `request.render()` versus `h.view()` and the view handler.

[2017-11-20 14:23] wswoodruff commented on #115
Interesting, does anyone have thoughts on if these 3 should act the exact same? Assuming the `server`, `request`, and `h` all have the same realm when `render()`ing or calling `view()`?

[2017-11-27 21:45] fjoalland opened #137 "Can't call an angular application"
Hello,

I launch my frontend application (angular 4) from my backend server (hapijs with vision). When I load my page, it finds my index.html but it doesn't load the javascript files.

**Server.js from my backend server**
[code]

When I start my back server I have this:
[code]

As you can see, it doesn't load my js files and I don't know why. Do you have any ideas?

[2017-11-27 21:52] wswoodruff commented on #137
@fjoalland You're looking to use Server Side Rendering with Angular / Vision, right? The warnings you see are because the `helpersPath` is trying to load those files as `handlebars` helpers.

Are you using any other tools to help with server side rendering? The only SSR I've attempted with Vision is for React, here: https://github.com/hapijs/vision/blob/master/examples/jsx/index.js -- see how anot

[2017-11-27 22:19] fjoalland commented on #137
Thank you for your answer. Yes, exactly I would like a Server Side Rendering with my Angular 4 application and Vision. Your example is useless for me, I can't use hapi-react-views for angular.

I just don't understand why it doesn't want to load my javascript files. I can build my 'driver' if I don't have another choice.

[2017-11-28 00:25] wswoodruff commented on #137
@fjoalland I know, the example won't help you with your application, I was giving an example of just what SSR looks like with vision. Also, I was probably mistaken and I think the correct term is 'view engine', not 'driver'. I think you will need to build your own version of `hapi-react-views` -- yours would be `hapi-angular-views`

[2017-11-28 08:56] Zedonboy opened #138 "How to render Session Data that goes off as soon as the session expires"
Hi, am trying to render, session data in the templates, that will immediately go off.

I checked Yar and Hapi-flash. they seem to be deprecated

[2017-11-28 13:44] wswoodruff commented on #138
@Zedonboy Any session info you have available in the request you can just send to the template context, when using `request.render(...)`.
But what exactly do you mean by `that will immediately go off`?

[2017-11-28 13:45] wswoodruff commented on #120
@bricss ping on this issue

[2017-11-28 13:47] wswoodruff commented on #115
I'm currently focusing on a larger update in #135, and can get to this after I brush that up and it gets merged

[2017-11-28 17:38] Zedonboy commented on #138
"""
But what exactly do you mean by will immediately go off?
"""
am coming from Laravel Background, we are told of Flashmessages, when the template gets rendered, it shows the Flahmessage, and it immediately goes off, after the specified time.

Do you understand?

[2017-11-28 18:05] wswoodruff commented on #138
Ok I understand what you mean, I'll have to take a look at some more packages to see if any are up-to-date for flashing like that -- there is normally a client component to it too, right?

[2017-11-28 18:24] Zedonboy commented on #138
But do you know the inner workings, let me implement it manually, with sessions.
and maybe make a pull request?

[2017-11-28 23:20] bricss commented on #120
@wswoodruff guess it can be closed, working like a charm for me 😁 👍

[2017-11-28 23:22] wswoodruff commented on #120
Glad to hear 👍

[2017-11-28 23:54] wswoodruff commented on #138
I think that should be in a separate module

[2017-11-29 00:10] #138 closed

[2017-12-01 21:43] #137 closed

[2017-12-31 21:22] wswoodruff commented on #115
Yo @rubennorte I've got a PR for this here: #140

[2018-01-11 12:20] axpro commented on #120
I think it would pe helpful to have a method to clear cached templates. For example we fetch some layouts from an external api and write them to disk before vision initializes but we have to restart the hapi servers on every layout change.

If restarting the servers would be a problem we could fetch the templates to memory and compile the templates manually, without vision.

[2018-01-13 03:42] #115 closed

[2018-01-13 04:05] wswoodruff commented on #120
Ok I can look into this, I could expose a function on the manager maybe.
I'm definitely open to PRs too @axpro!

[2018-01-18 10:54] axpro commented on #120
I'll try to find some spare time to look over the code to not miss anything and I'll make a PR.
Thanks

[2018-01-18 23:05] bschwartz757 commented on #106
@wswoodruff @jwdotjs It would be great if this could be addressed by the Vision and/or HapiJS documentation. I'm currently using Hapi 16.6.2 (haven't upgraded yet because some custom plugins we use will need to be re-written for v17) and after a couple of hours sifting through Vision & Hapi docs (and trying @jwdotjs 's method above) the only thing I've managed to get working is this:
[code]
which

[2018-02-27 15:42] wswoodruff opened #144 "Support JSON glue manifests"
See here: https://github.com/hapijs/visionary/blob/master/lib/index.js#L21

[2018-03-06 15:22] JSteunou opened #145 "Should handle helpers as ES Module"
As of today vision only support helpers defined as a CJS module as a function

[code]

Supporting ESM and even more, named export would be a great step forward.

[code]

[2018-03-06 20:13] wswoodruff commented on #144
From asking around, I don't think anybody will miss this feature from [visionary](https://github.com/hapijs/visionary), and I think this is only used with [rejoice](https://github.com/hapijs/rejoice)

[2018-03-06 20:13] #144 closed

[2018-03-14 13:19] #145 closed

[2018-04-01 07:52] Aakash-DD opened #147 "Getting property 'register' of undefined in vision and handlbars in node.js"
//Vision templates
server.register(require('vision'),function (err) {
   if(err){
       throw err;
   }
   server.views({
       engines:{
           html:require('handlebars')
       },
       path:__dirname+'/views'
   });

});

And packages are --------------------------------------------------->>>

"dependencies": {
    "handlebars": "^4.0.11",
    "hapi": "^16.6.2",
    "inert": "^4.2.1",

[2018-04-01 10:08] Marsup commented on #147
You're using a vision version that's made for hapi 17.

[2018-04-01 10:08] #147 closed

[2018-04-01 10:11] Aakash-DD commented on #147
@Marshup which version should i use??

[2018-04-01 10:24] Marsup commented on #147
Latest of version 4.

[2018-04-01 10:30] Aakash-DD commented on #147
yes, it worked tnks, by the way

[2018-04-19 23:34] TheJimFactor commented on #106
Hi, I was having this issue as well. I was trying to get compile errors for pug and found that adding:

[code]

[2018-05-09 08:48] rickerd opened #148 "Twig engine doesn't like includes"
I like twig alot since you can output really nice things and extend templates.
but... it doesn't work in vision?

[1] "allowInlineIncludes" is not allowed..

Is this a known thing or never used for some reason?

[2018-05-09 13:58] wswoodruff commented on #148
Can I please see the options you're passing to Vision?

[2018-05-11 13:29] wswoodruff commented on #148
That seems like it could be a Joi error but I can't tell exactly. You can pass library-specific options in the compile function, see the Marko example here: https://github.com/hapijs/vision#marko

[2018-05-11 13:29] wswoodruff commented on #148
@rickerd That seems like it could be a Joi error but I can't tell exactly. You can pass library-specific options in the compile function, see the Marko example here: https://github.com/hapijs/vision#marko

[2018-05-17 23:31] wswoodruff commented on #148
@rickerd ping on this issue

[2018-05-18 06:11] rickerd commented on #148
Closing for now. Not active used at work.

[2018-05-21 18:15] wswoodruff commented on #148
Ok please lemme know more about your setup if you decide to re-open

[2018-05-21 18:15] #148 closed

[2018-06-02 07:10] constashare opened #149 "Handlebars partial path not found"
I've tried to figure this out but I can't, the paths are correct so I'm not sure what the issue. Here is my vision options configure:

options: {
                    engines: {
                        html: Handlebars.create()
                    },
                    relativeTo: __dirname,
                    path: './server/resources/views',
                    layout: true,

[2018-06-02 17:41] wswoodruff commented on #149
@constashare Are you missing a `./` at the beginning of your partials path?

[2018-06-03 02:46] constashare commented on #149
@wswoodruff I've tried both with and without and the runtime error is still saying no partial found.

[2018-06-04 08:08] SimonSchick opened #150 "Add `.npmignore`"
I noticed you are shipping various redundant files to npm, such as tests, examples, build configs and documents.

Omitting those should reduce the package size to roughly 10%.

[2018-06-04 17:17] wswoodruff commented on #149
@constashare Are you able to link to your project or provide some more context?

I was digging around looking for similar issues with Vision in the past, it seems that there were issues with partials when working on `windows` -- do you have access to a linux-ish environment like Mac to try this out on?

[2018-06-04 17:20] wswoodruff commented on #150
I'll look into this 👍

[2018-06-05 10:10] SimonSchick commented on #106
I am running into the same issue, can we please get a `failAction` error handler on the vision plugin?
I do agree the `onPreResponse` being called before the _actual_ response is generated is somewhat misleading, @hueniverse I assume this is by design but would it be possible to perhaps introduce a lifecycle event that received only the _final_ response returned by the `prepare` function?

[2018-06-05 15:20] wswoodruff commented on #122
I think the best solution for this would be making manager a class and exposing some properties / methods on it, could also solve #120

Plan would be to provide 2 new server extensions to add the manager to server and request (plugin-specific managers)

[2018-06-07 18:10] wswoodruff commented on #149
@constashare Did you figure out the issue? If you give me some more info on your project I can help some more

[2018-06-08 13:16] #150 closed

[2018-06-13 18:10] constashare commented on #149
@wswoodruff  It's OK I switched to jsx/react but I can't get any functions to work.

[2018-06-13 18:20] wswoodruff commented on #149
@constashare Are you using `hapi-react-views`?
There's an example of usage with vision at https://github.com/hapijs/vision/tree/master/examples/jsx

Let me know if you still have problems after checking out that example =)

[2018-06-13 18:28] constashare commented on #149
@wswoodruff I am using hapi-react-views. But the function onClick doesn't do anything I can try reinstalling the app

[2018-06-13 18:36] constashare commented on #149
@wswoodruff  it could probably I have to install peer dependencies myself

[2018-06-13 19:08] constashare commented on #149
@wswoodruff  still nothing is firing

[2018-06-13 19:10] wswoodruff commented on #149
@constashare Can you do me a favor and run the example I linked? You can run it locally by cloning vision locally, running npm install, and running `node examples/jsx`? See if you can add an onClick() handler in there and see if you run into the same issues

[2018-06-13 19:38] constashare commented on #149
@wswoodruff I ran jsx in vision clone and onClick() still didn't fire anything. I used the props method and regular function call. When I used onClick={this.handleClick} I received nothing but when I did onClick={this.handleClick()} I got a even firing.

[2018-06-13 19:53] constashare commented on #149
@wswoodruff if I'm not mistaking onClick={this.handleClick}  is the proper way, but that never worked.

[2018-06-13 21:03] wswoodruff commented on #149
@constashare So at least we've ruled out your setup as the problem, not sure what's happening with the click handlers yet though

[2018-06-14 16:51] wswoodruff commented on #149
@constashare I'm going to close this issue as it's become a different one. If there are still issues getting click handlers to work properly we can continue discussion on the `hapi-react-views` repo

[2018-06-14 16:51] #149 closed

[2018-06-15 23:55] wswoodruff commented on #149
@constashare back to the original issue, can you turn off `All Exceptions` in your VS Code debugger like you see in this pic?
![b4d94908-27fc-11e6-981e-2bf39907493e](https://user-images.githubusercontent.com/9013245/41493522-0ed1c222-70d6-11e8-9f3a-80edd70eae21.png)

[2018-06-15 23:56] wswoodruff commented on #149
Then try it again, I'm suspicious of VS Code now and working with Microsoft && Node && npm together -- I keep seeming to come across Microsoft and / or VS Code related issues here and there in the Node community lately

[2018-07-10 08:26] ishanyang opened #152 "pug global variable"
In express.js
views/index.pug
[code]

[code]
**How to implement in hapi.js?**

*Excuse me for not good English*

[2018-07-10 13:41] wswoodruff commented on #152
Hey @ishanyang! I'm not exactly sure what a global variable is in pug but there is an example of using pug with hapi in the `examples/` folder https://github.com/hapijs/vision/blob/master/examples/pug/index.js

[2018-07-11 03:09] ishanyang commented on #152
it's workable
[code]

[2018-07-11 03:09] #152 closed

[2018-07-17 03:03] chrisblossom commented on #114
@jgallen23 I have ran into this same issue using ``addExtension``. I am unable understand your code / how you solved the issue. Can you please go into more detail what the issue is / what exactly you've done to work around the issue? I'd like to get a PR in to solve this.

[2018-07-19 16:02] jgallen23 commented on #114
basically addHelper just keeps an array of helpers and then doesn't actually register them until prepare

[2018-07-25 11:10] ishanyang opened #153 "Should provide a clear way to cache without shutting down the server?"
Hello~
[code]
Do you think it is necessary to add a method in ' hapijs/vision/lib/index.js'?
[code]

[2018-07-25 13:39] wswoodruff commented on #153
Hello @ishanyang! Are you using vision with Express?? Interesting -- Vision is a hapi plugin and uses hapi-specific methods, I don't think it'll work with Express.

Are you looking to programmatically clear the cache like #120 ? Or are you looking to clear the cache while working on your templates?

If you'd like to clear template cache during development there's a setting you can use -- in the pl

[2018-07-25 13:40] wswoodruff commented on #153
Oh I'm sorry I see you were showing me the equivalent to this behavior in an express setup. Gotcha!

[2018-08-02 00:08] sustained opened #154 "Vue SSR Support"
Looks like [Vue has SSR support now](https://ssr.vuejs.org/#what-is-server-side-rendering-ssr).

Since React SSR is supported, what are the maintainers' and contributors' thoughts on officially supporting Vue too?

[2018-08-02 14:19] wswoodruff commented on #154
@sustained Cool! Although we do have a `jsx` example here https://github.com/hapijs/vision/tree/master/examples/jsx

hapi doesn't officially support any front-end framework -- `hapi-react-views` was used in the jsx example because it was already built, and React is popular enough.

If you'd like to see a new module be created for Vue's SSR then we can talk about a new module like [hapi-react-views

[2018-08-02 14:21] wswoodruff commented on #153
@ishanyang Any updates on the issue?

[2018-08-02 19:26] sustained commented on #154
Yeah, I took a look at **hapi-react-views** the other day out of curiosity and it seems to not consist of a great deal of code so maybe this would be fairly trivial to add. Although I'm not sure I know enough about neither HAPI nor Vue myself to be the one to create it.

[2018-08-04 21:32] wswoodruff commented on #153
This will be fixed with #164

[2018-08-06 22:09] wswoodruff commented on #153
I'm considering this as a duplicate of #120, closing and will fix in that PR ☝️

[2018-08-06 22:09] #153 closed

[2018-08-10 13:15] wswoodruff commented on #106
I revisited this issue when working through some of the older issues here on Vision. The solution I think most closely matches the requirements here would be to allow you to pass a `compileErrTransform` func on your `server.views({...})` call (in the opts that get passed to the Manager).

This func would pass in the compile error, then allow you to return either a different error or return a valid

[2018-08-23 23:40] #122 closed

[2018-08-23 23:40] #120 closed

[2018-08-28 15:40] wswoodruff commented on #154
Closing as this isn't an issue with Vision itself

[2018-08-28 15:40] #154 closed

[2018-09-04 09:06] JSteunou opened #165 "Log errors instead of console.warn()"
Should this lib use hapijs server log instead of console.log ? I found out that having some not formatted / controled log can be pretty annoying. Had a case when playing with cache invalidation (manager.clearCache)

[2018-09-04 09:23] JSteunou opened #166 "Add partials & helpers cache invalidation"
There is a template cache invalidation, but when you have some several templates and you make intensive use of helpers & partials this is no use because changes are mostly done in partials and invalidation of templates do not reload partials.

Partials & helpers cache invalidation can be done by reloading those them partials & helpers once again. [_loadPartials](https://github.com/hapijs/vision/bl

[2018-09-07 14:51] wswoodruff commented on #166
Hey @JSteunou ! The new function to clear template cache is for use while running on production -- For development, you can disable caching of templates and helpers by setting `{ ... isCached: false }` when passing options to Vision

[2018-09-07 15:07] JSteunou commented on #166
Yup, but I wanted to play with cache invalidation in production too :)

I cheated a little by using private method, but `viewManager._loadPartials(hbsEngine)` works for my purpose. I wanted to experiment hot deployment of just assets like hbs partials / helpers / templates...

[2018-09-11 00:10] wswoodruff commented on #166
@JSteunou Does using private methods provide you with what you're looking for? What's your production situation where you need reloading of partials and helpers, etc.

[2018-09-11 00:10] wswoodruff commented on #165
I'm actually not sure what to do about this one! Looking into it

[2018-09-11 07:34] JSteunou commented on #166
I does the job I was looking for.

Hot reloading allows to deploy new *statics* files without restarting the service.

[2018-10-05 18:23] #166 closed, assigned to nobody

[2018-10-05 20:29] JSteunou commented on #166
Got it no problem

[2018-10-20 01:05] ishanyang commented on #106
#### lifecycle **onPreResponse** *to handle view errors*
[code]

[2018-10-31 23:59] hueniverse opened #167 "Cleanup"

[2018-11-01 05:32] #167 closed

[2018-11-01 19:32] hueniverse opened #168 "Update hoek v6"

[2018-11-01 19:33] #168 closed

[2018-11-06 06:20] hueniverse commented on #106
We can't keep adding more lifecycle steps in case other lifecycle steps fail...

`onPreResponse` is the last time you get a chance to modify the response. A typical use case is to change the context of the response before rendering in the final lifecycle step.

In order to give a bit more control, the response comes with its own two lifecycle methods: `prepare` and `marshal`. `prepare` is called o

[2018-11-07 07:34] hueniverse opened #169 "Use new requirements config"

[2018-11-07 07:38] #169 closed

[2018-11-15 20:21] createthis opened #170 "How to unit test reply.view() ?"
Hello,

I often have controller tests in my code. It's easy to test for the statusCode and search the result for a certain string. However, it would be nice to have an easy way to assert the view and params passed to the view. For example:

[code]

To test this using `should.js`, I can do:

[code]

But how would I assert that the view is `path/to/view` and that the view received a `data` attribute

[2018-11-15 20:34] wswoodruff commented on #170
@createthis When using the [toolkit](https://hapijs.com/api#response-toolkit) you could monkey patch `request. generateResponse`, save the arguments and verify them that way

[2018-11-20 06:17] wswoodruff commented on #170
@createthis any update on your issue?

[2018-11-20 13:45] createthis commented on #170
I've kept this issue open in a chrome tab for 5 days because I wanted to try your suggestion but didn't have time. One moment. I have a second now. I'll see what I think about it.

[2018-11-20 14:18] createthis commented on #170
@wswoodruff Ok, how would that work? I tried this:

[code]

And I get this error:

[code]

Can you provide an example?

[2018-11-20 14:34] devinivy commented on #170
You can find the template and context information on `request.response.source`!
[code]

[2018-11-20 14:45] createthis commented on #170
@devinivy is `response.source` only in newer versions? I do:

[code]

And I get:

[code]

[2018-11-20 14:57] devinivy commented on #170
I believe that property goes back more than a couple major vesions of hapi.  There is a slight issue in your code:
[code]

[2018-11-20 15:05] createthis commented on #170
@devinivy you're right! Also, this is exactly what I was looking for. This is perfect. Thank you!

[2018-11-20 15:09] #170 closed

[2018-11-22 10:06] yuvke opened #171 "Memory leak related to helpers when isCached = false"
When running vision with `isCached=false` and at least one helper in `helpersPath` a memory leak manifests itself.

This (for now) has forced us to stop working with `isCached=false` altogether.

I've created a [small repo](https://github.com/yuvke/test-hapi-vision) to easily reproduce / debug the issue.
After downloading run
[code]
Heap memory keeps climbing for each request.

[2018-11-22 15:21] yuvke commented on #171
Added a pull request (https://github.com/hapijs/vision/pull/172) that fixes this issue.

[2018-12-15 17:49] wswoodruff commented on #171
Fixed by #172

[2018-12-15 17:49] #171 closed

[2019-02-03 21:00] damusix opened #177 "Async support"
It would be nice to support async context in view manager.

My use case is to query cached data from catbox client and pass it to frontend to generate menus and lists, etc.

EG:
[code]

Currently, I have to hoist the response into an object store and wait for it to populate before it reflects in my frontend, which means I need to refresh that object store whenever cache expires.

[2019-02-03 21:09] wswoodruff commented on #177
I'm down for that! Thanks for pointing this out — I'd like all the places you find something like `=== 'function'` to support async/await in the manager. Lemme know if you're interested in making a PR for that

[2019-02-04 03:20] damusix commented on #177
Awesome! I'll start something this week. Seems like a couple things that need to become async/await.

[2019-02-04 05:46] damusix commented on #177
`promisify` did the trick!

[2019-02-04 14:42] wswoodruff commented on #177
Oh nice! That's a good work around til we get this fix in

[2019-04-08 22:16] hueniverse commented on #106
Closing due to inactivity.

[2019-04-08 22:16] #106 closed

[2019-04-08 22:21] hueniverse commented on #114
Closing due to inactivity.

[2019-04-08 22:21] #114 closed

[2019-04-09 04:01] hueniverse commented on #165
No module should log errors to console.

[2019-04-09 04:09] hueniverse opened #180 "Change module namespace"

[2019-04-09 04:10] hueniverse commented on #165
Marked as breaking since the behavior is somewhat different (though no actual breakage).

[2019-04-09 04:11] #180 closed

[2019-04-09 04:15] hueniverse commented on #165
Closed by 0b29418e9c2445e881357af2dee61194b1ab38f1

[2019-04-09 04:15] #165 closed

[2019-04-09 06:48] hueniverse opened #181 "Windows tests"

[2019-04-09 06:48] #181 closed

[2019-04-09 15:53] hueniverse commented on #177
I didn't yet. The commit message has the wrong issues...

[2019-04-09 16:00] wswoodruff commented on #177
Ohh gotcha — I thought you reopened so we could finish up the discussion. Ok that's fine! Are you planning on implementing it or should we restart off your work?

[2019-04-09 16:13] hueniverse commented on #177
I will probably do a breaking release in the near future with support for async methods all around.

[2019-04-09 16:14] wswoodruff commented on #177
Ok good to know, and thank you sounds great! Please update me if you decide you want to offload that here

[2019-04-10 21:11] damusix commented on #177
Sounds good gentlemen. Looking forward to it. @hueniverse if there's anything I can help with, feel free to ask. I'm in the `hapi hour` slack channel.

[2019-04-10 22:11] hueniverse opened #182 "Override package name"

[2019-04-10 22:17] #182 closed

[2019-07-16 10:00] FriseHunter commented on #75
Good afternoon, I have a similar problem, I don’t know how to set up a watch for nunjucks under a webpack, webpack listens to everything (css, js), but not .njk

I use nunjucks-webpack-plugin and nunjucks-webpack-loader in my build.

Please help me figure it out.
`const path = require('path');
const ExtractTextPlugin = require("extract-text-webpack-plugin");
const CopyPlugin = require('copy-webpac

[2019-08-14 06:13] greenkeeper[bot] opened #184 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on Greenkeeper branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because it uses your CI build statuses to figure out when to notify you about breaking changes.

Since we didn’t receive a CI stat

[2019-08-14 06:21] #184 closed

[2019-08-14 21:23] hueniverse opened #185 "Update deps"

[2019-08-15 00:50] #185 closed

[2019-09-12 23:35] hueniverse opened #186 "Update joi"

[2019-09-12 23:40] #186 closed, assigned to hueniverse

[2019-12-03 13:59] yuvke commented on #106
@wswoodruff , the solution above by @bschwartz757 doesn't work. It seems that the render function no longer accepts the fourth optional callback parameter. At least that's what I see here:

https://github.com/hapijs/vision/blob/master/lib/index.js#L89

Is this a bug? Is there another way to accommodate this need?

[2019-12-03 14:26] wswoodruff commented on #106
@yuvke Yeah the `render` func has since been moved to async — the idea with `bschwartz757`'s approach is to call `render` yourself and catch and respond with the error however you want — could be returning a `Boom` error or rendering another template.

[2019-12-03 17:48] yuvke commented on #106
Thanks @wswoodruff. It might be worth updating the vision docs since it took a while to debug this.

[2019-12-03 18:53] hueniverse commented on #106
@yuvke PRs are welcomed!

[2020-01-09 00:28] hueniverse opened #190 "Only node 12"

[2020-01-10 07:26] hueniverse opened #191 "Drop hapi 17"

[2020-01-10 07:27] hueniverse opened #192 "Change plugin name to @hapi/vision"

[2020-01-10 07:29] #190 closed

[2020-01-10 07:29] #191 closed

[2020-01-10 07:29] #192 closed

[2020-05-01 02:59] mitjafelicijan opened #195 "Twig Cannot extend an inline template"
I have been trying to use extends functionality for Twig and cannot get it to work regardless of what I do. I have managed to make `includes` working properly but not `extends`.

This is my server code.

[code]
When I am trying to include a partial Iit works like intended.

[code]

But if I try to use extends option I get the following error.

[code]

[code]

I really am out of ideas here.

Thanks

[2020-05-03 17:13] Hydrock opened #196 "Mistake by npm readme"
Mistake by npm readme

![image](https://user-images.githubusercontent.com/20814779/80920745-7f549e80-8d7a-11ea-8bf6-7d9f41b6a754.png)

[2020-05-16 18:27] hueniverse commented on #196
Will be fixed next time it is published. Thanks.

[2020-05-16 18:27] #196 closed

[2020-07-10 03:25] hueniverse commented on #195
Unfortunately, no community resources were available to help resolve this issue after two weeks, and it is being closed. We close unresolved community issues to keep the issue tracker organized and effective. Please check https://hapi.dev/support for other support options.

[2020-07-10 03:25] #195 closed

[2020-08-12 13:56] lloydbenson commented on #177
Hi @damusix and/or @wswoodruff. I think this conversation got dropped. I think we'd be open to a PR if one of you wants to look into this!

[2020-08-12 14:27] wswoodruff commented on #177
@lloydbenson Yeah good call this is unblocked since Eran won't be working on it — this task will take significant effort, not sure when I'll be able to contribute that amount of time but I'll keep this in mind

[2020-08-12 14:39] lloydbenson commented on #177
If neither of you can do it, that is fine we can just close it up and do a new issue later if someone does have time in the future.

[2020-08-12 21:53] damusix commented on #177
I had a PR on this a while back that I can restore at some point @lloydbenson @wswoodruff https://github.com/hapijs/vision/pull/179

[2020-08-12 23:14] lloydbenson commented on #177
nice! Thanks. Before you do that work I think that gives the community a good indication of what you did and lets try to get some input from the community on what they thought of that solution (I don't use vision that much so better to get others feedback). I mostly just wanted to make sure we came to a conclusion either way ;) I could be reading it wrong, but it seems like this may be a breaking

[2020-08-13 03:14] damusix commented on #177
@lloydbenson IIRC, it wasn't break any existing functionality, it was only adding the feature of being able to asynchronously render context. To your point, yes, I will wait for feedback. As Eran had stated previously, it likely warrants quite the refactor in order to properly implement async support instead of using `util.promisify` builtins, which is more of a patch.

[2020-08-13 13:03] lloydbenson commented on #177
Thanks for the explanation! Hopefully we get some good community feedback on the changes.

[2020-08-13 15:49] wswoodruff commented on #177
This issue was originally just about async render context support, but was expanded to planning out top-to-bottom async updates by Eran — so we can rescope this, which if we go back to just render context support would be much less effort I think, and would probably not be a breaking change.

The full async update across all vision files will be a breaking change though.

[2020-08-14 16:29] damusix commented on #177
@wswoodruff I think it is more appropriate to rescope. I am using my a forked version in my projects anyway, so not a big deal.

[2020-12-15 18:07] damusix commented on #177
On second thought, after reading Hapi and Vision docs more thoroughly, I think this can completely be resolved by overwriting the original decorator. Recently was able to get this to work in the following manner:

[code]

New Usage:

[code]

[2020-12-15 23:36] wswoodruff commented on #177
Nice — find, figuring that out, and thanks for posting some example code!

We should update `vision` itself at some point, at whichever level is worth a release but this looks like the best way to work around this so far! ☝️

I think we should keep the issue open until we get something merged we want to release —

@damusix do you think there'd be much work in re-opening your old PR for updating th

[2020-12-22 04:32] damusix commented on #177
@wswoodruff OK it's up. Looks like Eran had implemented a lot of the logic I had on that PR a couple years back, so the rebase really only adds an `await context()` (which wouldn't resolve otherwise) and tests. Pretty smooth sync.

[2020-12-22 14:16] wswoodruff commented on #177
Cool thanks for doing that @damusix!

Quicklink -> #205

[2021-06-17 14:00] wswoodruff commented on #177
Note that async support has landed for the `context` method in `v6.1.0`

[2021-10-11 04:04] lallenfrancisl opened #208 "TypeError: Cannot read property 'bind' of undefined: Cannot read property 'bind' of undefined when using EtaJS as the template engine"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): yes
* *is this issue affecting a production system?* (yes/no): yes

#### Context

* *node version*: 14.17.6
* *module version with issue*: 6.1.0
* *last module version without issue*: nil
* *environment* (e.g. node, browser, native): node
* *used with* (e.g. hapi application, another framework, standalone, ...): hapijs

[2021-10-11 08:55] #208 closed

[2021-10-12 03:49] lallenfrancisl commented on #208
Oh thanks @kanongil I had kind of speculated the issue was this, but I couldn't find any guides in the docs in the website on how to do this. Thank you, and I will create a PR once I get this working

[2022-07-13 03:55] devinivy commented on #177
I think this is all set now, but if not just give a poke!

[2022-07-13 03:55] #177 closed

[2022-07-25 13:58] joshkel opened #212 "`package.json` repository field"
#### Support plan

* *is this issue currently blocking your project?* (yes/no): no
* *is this issue affecting a production system?* (yes/no): no

#### Context

* *node version*: 14.19.3
* *module version with issue*: 7.0.0
* *last module version without issue*: unknown
* *environment* (e.g. node, browser, native): Node
* *used with* (e.g. hapi application, another framework, standalone, ...): N/A

[2022-07-25 14:45] Nargonath commented on #212
Can you elaborate on how this is impacting your workflow, please?

[2022-07-25 15:03] joshkel commented on #212
[yarn-plugin-outdated](https://github.com/mskelton/yarn-plugin-outdated)'s purpose is to display a list of outdated NPM packages. As part of that, it parses packages' `repository` field so that it can display a link to information about changed packages.

Since Vision's repository is unusable, this feature of yarn-plugin-outdated doesn't work for it.

[2022-07-27 07:31] Nargonath commented on #212
Alright, thank you for the details. We'd have to investigate more to know where the problem comes from. I believe `git` URLs to be valid but I may be wrong, so perhaps that's `yarn-plugin-outdated` that needs to be updated.

[2022-07-27 12:57] joshkel commented on #212
Thanks for the reply.

It's my understanding that [the `git:` protocol](https://git-scm.com/book/en/v2/Git-on-the-Server-The-Protocols#_the_git_protocol) is rarely used, and it looks like [GitHub removed support for it](https://github.blog/2021-09-01-improving-git-protocol-security-github/).

On the other hand, I'm taking a closer look at my node_modules tree now, and there are several `git:` URLs

[2022-07-27 13:05] kanongil commented on #212
It could just be because `git clone git://github.com/hapijs/vision` fails:

[code]

In any case it is an incorrect outdated repo link to include in the `package.json,` and should indeed be updated.

[2022-07-27 13:07] kanongil commented on #212
FYI this is an issue across the hapijs ecosystem, and eg. [hapi itself](https://github.com/hapijs/hapi/blob/b8ba0adc7c3255995cb56a9a740c4f9750b80e6b/package.json#L6) has a bad value.

[2022-07-27 13:35] Nargonath commented on #212
We can also have it as:
[code]
As shown here: https://docs.npmjs.com/cli/v8/configuring-npm/package-json#repository.